.logo{
    width: 30%;

}
.housepic{
    width:400px ;
}
.family-heading{
    font-size: 2rem;
    margin-top: 0;
}
.about-page-container {
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.about-wrapper{
    display: flex;
    width: 100%;
    height: 350px;
    border: 0px solid black;
    justify-content: center;
}
.about-description{
    border: 0px solid red;
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.about-description p{
    font-size: 1rem;
    margin-bottom: 2%;
}

.house-pic-div{
    width: 40%;
    border: 0px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
    text-align: center;
    font-size:1.2rem ;
}
.map-container{
    border: 0px solid black;
    height: 430px;
    width: 100%;
    margin-top: 3%;
    border: px solid black; 
}
.phone-mail-container + div > div{
    border: 0px solid rgb(0, 0, 0);
    position: static !important;
} 
.phone-mail-container + div > div >div {
    width: 100% !important;
}



.phone-mail-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
}
.btn-mobile{
    margin-top: 0;
}
.partner{
    width: 15%;
}

.partners-container {
    width: 100%;
    height: 220px;
    border: 0px solid black;
    margin-top: 2%;
}
.partners-container h2{
    font-size: 2.5rem;
    color: #377036;
    text-align: center;
    margin-bottom: 2%;
}

.partners-wrapper{
    position: static;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.call-us{
    border: 0px solid black;
    background-color: #377036;
    border-radius: 10px;
    width: 200px;
    height: 70px;
    padding: 20px 26px;   
}
.call-us:hover{
    background: #377036;;
    transform: scale(1.03);
    transition: all 0.3s ease-out;
    
}


.phone-nr{
    font-size: 20px;
    color: white;
    text-decoration: none;
    
}
.call-us:hover a{
    
    transform: scale(1.1);
}
.slide-container{
    
    margin: 2% auto;
    width: 75%;
}
.each-slide{
    height: 500px;
    
}
.slide-image{
    
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size:contain;
}


@media screen and (max-width : 960px){
    .about-page-container h2 {
        font-size: 2.5rem;
    }
    .about-wrapper{
        height: 700px;
        border: 0px solid black;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .about-description {
        border: px solid black;
        width: 100%;
        margin-top: -20px;
    }
    .about-description h2{
        font-size: 2.2rem ;
    }
    .about-description p {
        font-size: 0.8rem;
    }
    
    .house-pic-div {
        width: 80%;
    }
    .housepic {
        width: 100%;
    }

}
@media screen and (max-width: 550px){
    .call-us{
        width: 180px;
    }
    .phone-nr{
        font-size: 1rem;
    }
}


