.advice-nav-list {
    display: none;
}

@media screen and (max-width: 960px) {


    .advice-nav-list{
        display:block;
        margin: 2%;

    }
    
    .advice-item{
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        background-color: #ffffff;    
    }
    .advice-item:hover{
        
        
    }
    .advice-link{
        width: 100%;
        text-decoration: none;
        color: #377036;
        
        font-weight: bolder;
        font-size: 0.8rem;
    }
    .advices {
        display: flex;
        flex-direction: column;
    }
    
    .advice-link:hover{
        transform: scale(1.05);
    }
    .nav-advice-div *{
        color: #377036;
        margin-bottom: 10px;
    }
}