.questions-container{
    border: 1px solid black;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

.question{
    border: 0px solid blue;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #377036;
}

.question h4{
    color: white;
    margin-left: 20px;
}

.answer{
    display: flex;
    align-items: center;
    padding-left: 20px;
    margin: 10px 0;

}

@media screen and (max-width: 960px) {
    .question{
        height: 50px;
    }
    .bigger{
        height: 70px;
    }
}