

.header {
    background-color: #000000;
    color: white;
    height: 30px;
    position:sticky;
    top: 2;
}
.company-time *{
    font-size: 0.8rem;
    padding-left: 30px;
   
}
.tel-nr{
    font-size: 0.8rem;
    margin-left: 0px;
}

.header-wrap {
    display: flex;
    height: 25px;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;  
    position: sticky;  
}

.fa {
    margin-left:-22px;
}

.header-location {
    color: white;
    margin-right: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.8rem;
    
}


.language-change{
    margin-top: 9px;
    width: 32px;
    
    
}


@media screen and (max-width: 960px) {
    .tel-nr{
        display: none;
    }
}

@media screen and (max-width: 399px) {
    
    .header{
        height: 40px;
        display: flex;
        align-items: center;
    }
    .header-wrap{
        display: flex;
        
    }
   
    .company-time {
        font-size: 0.7rem;
        margin-right: 80px;
    }
}