/*img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}*/
.mainBackground {
  object-fit:scale-down;
  width: 95%;
  height: 700px;
  position: absolute;
  z-index: -1;
  
  
}
.hero-container{
  height: 500px;
  
}
.hero-container-wrapper {
  /*background: url('public/mainBackground.jpeg') center center/cover no-repeat;*/
  height: 300px;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  padding-top: 3%;
  margin-left: 10%;
  object-fit: contain;
  margin-bottom: 25px;
  border: 0px solid black;
    
}
.btn {
  border-radius: 10px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: ;
  background: #cbb47f;
  background-color: #377036;
  color: rgb(255, 252, 252);

}

.hero-container h1 {
  color: black;
  font-size: 40px;
  margin: 2% 0 2% 0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.hero-container p {
  margin: 10px 0 2% 0;
  color: black;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif,'Trebuchet MS';
}

.hero-btns {
  margin-top: 20px;
}

@media screen and (max-width: 960px) {
  .hero-container h1 {
    font-size: 40px;
    margin: 5% 0 5% 0;
  }
  .mainBackground {
    height: 800px;
  }
  .btn {
    width: 90px;
  }
  .hero-container{
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .hero-container-wrapper{
    display: flex;
    justify-content: center;
    margin: 0;
  }
  .hero-btns{
    margin: 10px auto;
  }
}

@media screen and (max-width:550px){
  .mainBackground {
    margin-top: 250px;
    height: 250px;
    width: 100%;
    border: px solid rgb(145, 28, 28);
  }
 
  .hero-container{
    display: flex;
    justify-content: center;
    height:500px;
    text-align: center;

  }
  .hero-container-wrapper{
    width: 70%;
    display: flex;
    justify-content: center;
  }
  .hero-container h1 {
    font-size: 35px; 
  }
  .hero-container p {
    font-size: 20px;
  }
  .hero-btns{
    margin: 10px auto;
  }
  .btn {
    width: 40px;
    font-size: 15px;
    border-radius: 10px;
  }
}