.news-container {
    border: px solid black;
    display: flex;
    width: 95%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
}
.news-main h2 {
    margin: 2% 0;
}

.one-news{
    border-bottom: 2px solid black;
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border: 1px solid black;
    
}
.one-news * {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.one-news h1{
    font-size: 1.6rem;
    margin-bottom: 10px;
}
.one-news p {
    font-size: 1.1rem;
    text-align: justify;
    margin-bottom: 20px;
}

@media screen and (max-width: 960px) { 
    .one-news h1 {
        font-size: 1.4rem;
    }
    .news-container {
        
    }
    .one-news {
        width: 40%;
    }
}

@media screen and (max-width: 550px) { 
    .one-news h1 {
        font-size: 1.4rem;
    }
    .news-container {
        
    }
    .one-news {
        width: 90%;
    }
}