.home-news-container {
    border: 1px solid black;
    background-color: #cbb47f;
    color: black;
    height: 150px;
    
}

.home-one-news{
    width: 60%;
    border: px solid black;
    margin: 0 auto;
    text-align: center;
}

.home-one-news h1 {
    margin: 10px auto 10px auto;
}