.news-container {
    border: px solid black;
    display: flex;
    width: 95%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 0 auto;
}
.news-main h2 {
    margin: 2% 0;
}

.one-news{
    border: 2px solid black;
    border-left: none;
    border-top: none;
    border-right:none;
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 200px;
}
.one-news * {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.one-news h1{
    font-size: 1.6rem;
}
.one-news p {
    font-size: 1.1rem;
    text-align: justify;
}