.latestNews-container{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.latestNews-container h2 {
    font-size: 2.5rem;
}

.someNews-container{
    margin-top: 30px;
}

.news-wrap {
    display: flex;
    justify-content: space-around;
}

.smallNews {
    width: 25%;
    height: 200px;
}

.news-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6; /* number of lines to show */      
    -webkit-box-orient: vertical;
}
.read-more{
    margin-top: 20px;
}