.advice-navbar {
    border: 0px solid black;
    background-color: #fcfcfc;
    height: 50px;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    background-color: #377036;
    position: sticky;

}

.advice-navbar-container {
    border: 0px solid red;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    position: sticky;
    
}

.advice-nav-menu {
    border: 0px solid black;
    display: flex;
    justify-content: space-evenly;
    
    list-style: none;
    width: 100%;

}

.advice-nav-link{
    font-size: 0.8rem ;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.advice-nav-link:hover{
    font-size: 0.81rem ;
    padding-bottom: 2%;
    border-bottom: 1px solid rgb(255, 255, 255);
}