.footer-container {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    margin-top: 5%;
    overflow-y: hidden;
    border: 1px solid black;
}

.footer-link-wrapper, .footer-wrapper {
    display: flex; 
    justify-content: space-around;
}
.footer-wrapper {
    width: 100%;
    border: 1px solid red;
}

.footer-link-items, .footer-worktime-items, .footer-contact-items {
    display: flex;
    flex-direction: column;
    margin: 0px;
    text-align: center;
    width: 300px;
    box-sizing: border-box;
}
.footer-worktime-items{
    width: 200px;
}

.footer-contact-items :link { 
    margin-top: 5%;
    text-decoration: none;   
}

.worktime-info {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.working-days{
    margin-bottom: 2%;
    margin-right: 2%;
}

.working-time p{
    margin-bottom: 2%;
    margin-left: 10px;
}

.footer-link-items h2, .footer-worktime-items h2, .footer-contact-items h2 {
    margin-bottom: 16px;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.social-logo {
    color: #377036;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display:flex;
    align-self: center;
    margin-bottom: 16px;
}

.footer-advice{
    border: 1px solid black;
}
.footer-advice-list{
    list-style: none;
    text-align: center;
}
.footer-advice-list a{
    text-decoration: none;
    color: black;
}
.footer-advice-list a:hover{
    text-decoration: none;
    color:#377036;
}

@media screen and (max-width : 960px){
    .footer-map{
        display: none;
    }
    .footer-links {
        padding-top: 2rem;
    }
    .footer-input {
        width: 100%;
    }
    .btn {
        width: 100%;
    }

    .footer-link-wrapper {
        flex-direction: column;
        
    }
    
    .social-media-wrap {
        flex-direction: column;
    }
    .footer-links{
        display: none;
    }

}
@media screen and (max-width: 550px){
    .footer-wrapper {
        font-size: 14px;
        width: 120%;
       
    }
    
    .call-us {
        
    }
}