.footer-container {
    background-color: rgb(255, 255, 255);
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    padding-left: 100px;
    overflow-y: hidden;
}

.footer-link-wrapper, .footer-wrapper {
    display: flex; 
    justify-content: space-around;
}
.footer-wrapper {
    width: 100%;
}

.footer-link-items, .footer-worktime-items, .footer-contact-items {
    display: flex;
    flex-direction: column;
    margin: 0px;
    text-align: center;
    width: 300px;
    box-sizing: border-box;
}
.footer-worktime-items{
    width: 200px;
}

.footer-contact-items :link { 
    margin-top: 5%;
    text-decoration: none;   
}

.worktime-info {
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.working-days{
    margin-bottom: 2%;
    margin-right: 2%;
}

.working-time p{
    margin-bottom: 2%;
    margin-left: 10px;
}

.footer-link-items h2, .footer-worktime-items h2, .footer-contact-items h2 {
    margin-bottom: 16px;
}

.footer-link-items > h2, .footer-worktime-items > h2, .footer-contact-items > h2 {
    color: green;
}

.footer-link-items a, .footer-worktime-items a {
    color: black;
    text-decoration: none;
    margin-bottom: 8px;
}

.footer-link-items a:hover {
    color: green;
    transition: 0.3s ease-out;
}

.footer-email-form h2 {
    margin-bottom: 32px;
}

.footer-input::placeholder {
    color: green;
}


.fab {
    color: green;
    font-size: 1.5rem;
    padding-left: 1rem;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}

.social-logo {
    color: green;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display:flex;
    align-self: center;
    margin-bottom: 16px;
}

.footer-map{
    padding-left: 20px;
    width: 30%;
}
.tatariMap {
   width: 70%;
}

@media screen and (max-width : 960px){
    .footer-map{
        display: none;
    }
    .footer-links {
        padding-top: 2rem;
    }
    .footer-input {
        width: 100%;
    }
    .btn {
        width: 100%;
    }

    .footer-link-wrapper {
        flex-direction: column;
        
    }
    
    .social-media-wrap {
        flex-direction: column;
    }
    .footer-links{
        display: none;
    }

}
@media screen and (max-width: 550px){
    .footer-wrapper {
        font-size: 14px;
        width: 120%;
       
    }
    
    .call-us {
        
    }
}