.navbar {
    background-color: #ffffff;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999; 
  }

  .navbar-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    max-width: 2000px;
    padding-top: 20px;
    position: sticky;
  }
  
  .navbar-logo {
    align-items: center;
    font-family: 'PT Sans Caption', sans-serif;
  }

  .tatari-loomakliinik{
    height: 80px;
    margin-bottom: 5px;
  }

  .tatari-loomakliinik:hover {
    transform: scale(1.05);
  }
  
  .fa-typo3 {
    margin-left: 0.5rem;
    font-size: 1.8rem;
  }
  
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
  }
  
  .nav-item {
    height: 70px;
    
  }
  
  .nav-links {
    color: #377036;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
    font-family: 'PT Sans Caption', sans-serif;
  }
  
  .nav-links:hover {
    border-bottom: 4px solid #377036;
    transition: all 0.2s ease-in-out;
  }
  
  
  .fa-bars {
    margin-top: 16px;
    color: #377036;
  }
  
  
  .nav-links-mobile {
    display: none;
  }
  
  .menu-icon {
    display: none;
  }
  .btn--outline{
    background-color: #377036;
    color: rgb(244, 244, 244);
  }

  .btn{
   background-color: #377036;
   height: 70px;
   border-radius: 10px;
  }

  .on-hover{
    visibility: hidden;
    display: block;
    border: 1px solid black;
    width: 250px;
    position: absolute;
    background-color: #377036;
    margin-top: 0.5%;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    opacity: 0;
    transform: translateY(-3em);
    z-index: 0;
    transition: all 0.3s ease 0s, visibility 0s linear 0.05s, z-index 0s linear 0.01s;
    
  }
  .advice-nav:hover .on-hover{
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0);
    transition-delay: 0s, 0s, 0.3s;
    position: absolute;
  }
  .advice-item{
    height: 55px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .advice-item:hover{
    background-color: rgb(0, 0, 0);
    color: black;
  }
  .advice-link{
    width: 95%;
    text-decoration: none;
    color: white;
  }
  
  .advice-link:hover{
    transform: scale(1.05);
  }
  
  
  
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
    }
  
    .nav-menu {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      height: 49vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      background: #377036;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
      height: 415px; margin-top: 30px;
      
    }
  
    .nav-links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
      color: rgb(255, 255, 255);
    }
  
    .nav-links:hover {
      background-color: #fff;
      border-bottom: 3px solid #377036;
      border-top: 3px solid #377036;
      color: #242424;
      border-radius: 0;
    }
  
    
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }
  
    .fa-times {
      margin-top: 13px;
      margin-right: 3px;
      
      color: #377036;
      font-size: 2rem;
      
    }
  
    .nav-links-mobile {
      display: block;
      text-align: center;
      margin: 2rem auto;
      border-radius: 4px;
      width: 80%;
      text-decoration: none;
      font-size: 1.5rem;
      background-color: transparent;
      color: #fff;
      padding: 14px 20px;
      border: 1px solid #fff;
      transition: all 0.3s ease-out;
    }
  
    .nav-links-mobile:hover {
      background: rgb(25, 25, 25);
      color: #242424;
      transition: 250ms;
    }
  }

@media screen and (max-width:500px){
  .btn-mobile{
    margin-top: 30px;
  }
  .tatari-loomakliinik{
    height: 80px;
  }
  .nav-menu.active{
  }
  .navbar-container{
    
  }
 
}

