.partner{
    width: 15%;
}

.partners-container {
    width: 100%;
    height: 400px;
    border: 0px solid black;
    margin-top: 2%;
}
.partners-container h2{
    font-size: 2.5rem;
    color: #377036;
    text-align: center;
    margin-bottom: 2%;
}

.partners-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}