table {
    border: 1px solid #377036;
    width: 75%;
    height: 200px;
    margin: 0 auto;
}

td {
    width: 50%;
    text-align: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.prices-heading {
    background-color: #377036;
    width: 75%;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.more-information{
    text-align: center;
    padding-bottom: 5%;
}