.services-container{
    margin: 2% 0;
    border: 1px solid black;
    
}
.services-container h2{
    text-align: center;
    font-size: 2.5rem;
    color: #377036;
    margin-bottom: 2%;
}
.services-container p {
    text-align: center;
    font-size: 1rem;
    color: black;
    margin-top: 2%;
    
}
.services-wrapper{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.service {
    border: 1px solid black ;
    height: 200px;
    width: 200px;
    margin-bottom: 1%;
    border-radius: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #377036;
    color: white;
}

.service h3 {
    font-size: 1rem;
}
break {
    flex-basis: 100%;
    width: 0px; 
    height: 0px; 
    overflow: hidden;
  }